#navbar{
    display: flex;
    position: relative;
    height: 50px;
    font-size: larger;
    padding-top:5px;
    box-shadow: 5px;
    background-color: antiquewhite;
}

#navbooking{
    background-color: #fff;
width: 150px;
position: relative;
left: 75%;
color: none;
}
#navlogout{
    position: relative;
    background-color: #fff;
left: 80%;
}

#navlogo{
    margin-left: 10px;
}
