.form-container{
    height: 500px;
    margin-top: -50px;
}

.form-container input{
    margin-top: 20px;
    height: 40px;
}

#head-text{
    margin-top: -20px;
}

.quotes{
    color: #ffff;
}

#first{
    position: absolute;
}

#forma{
    position: relative;
    margin-top: -370px;
    height: 500px;
}

#quotes{
    position: relative;
    margin-left: 200px;
    margin-top: 200px;
    font-size: 2rem;
}

#admin-nav{
    color: #ffff;
    text-decoration: underline;
}