#admin-nav{
    color: blue;
    position: relative;
    top: -50px;
    right: 110px;
}

#btn{
    position: relative;
    bottom: 15px;
    left: 5px;
}

#head-text{
    position: relative;
    margin-left: 0px;
    margin-top: 15px;
}

#forma{
    position: relative;
    top: 60px;
    left: 60px;
}

#logo{
    margin-top: 0px;
    margin-left: 10px;
}

/* .page-container{
    margin-top: 0px;
} */

#first{
    width: 100vw;
}
