#logout {
    cursor: pointer;
    float: right;
    font-size: 1rem;
    color: #707070;
    margin-right: 30px;
    margin-top: 10px;
}

.body-container {
    border: 1px solid #707070;
    display: flex;
    justify-content: space-around;
    color: #1E1E1E;
}

.body-container label {
    color: #2D2D2E;
    font-size: 14px;
}

.inline-input {
    display: inline-block;
    margin-right: 200px;
}

.body-container label {
    margin-top: 20px;
}

#description input {
    height: 150px;
}

.btns {
    width: 80px;
    height: 40px;
    margin-top: 500px;
    border: 1px solid #0078DD;
    background-color: #ffff ;
    color: #0078DD;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: -300px;
}

.right-inputs {
    margin-top: 150px;
}

.right-inputs label {
    margin-top: 50px;
}

.add-details {
    margin-top: 30px;
    color: #2D2D2E;
}

#details-input input {
    height: 100px;
}

#carname {
    margin-right: 70px;
    margin-left: 10px;
}

#carcard {
width: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #00000029;
    opacity: 1;
  border-radius: 10px;
  float: left;
  margin-top: 60px;
  margin-left: 10px;
  flex-wrap: wrap;
 
}
#carkm{
    color: aqua;
}
#carbook{
    margin-left: 30px;
    background-color: aqua;
}
#car{
    margin-left: 10px;
}
